<!DOCTYPE html>

<html lang="pt-BR">

<head>
    
    <title>Le français pour tous les âges!</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="styles.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Vast+Shadow&display=swap');
    </style>





</head>

<body>
    
    <header id="header-area">

        <div id="logo-area">
            <h1>Classe 01</h1>
        </div>

        <nav id="menu-area">
            <a href="index.html">Home</a>
            <a href="classes.html">Classes</a>
            <a href="supplementaire.html">Supplémentaire</a>
            <a href="chansons.html">Chansons</a>
        </nav>

    </header>
    
    <main id="main-area">
        
        <section>

            <div class="content-blocks">
                <nav>
                    <a href="https://www.youtube.com/watch?v=P3QS83ubhHE&list=RDP3QS83ubhHE&start_radio=1", target="_self">
                        <div>
                            <img class="imagem-02" width="600px" height="250px" src="imagens/stromae.jpg">
                        </div>
                    </a>
                </nav>
            </div>

        </section>


        <section>

            <div class="content-blocks">                   
         
                    <h2>Connaissons un Artiste Francophone !&nbsp;</h2>
                    <img class="elemento-clicavel img-audio" width="16px" height="16px" src="imagens/som91.png" data-audio="sons/frase_001.mp3" alt="Imagem 1">
                    <img class="elemento-clicavel img-audio" width="16px" height="16px" src="imagens/caracol.png" data-audio="sons/frase_001_lenta.mp3" alt="Imagem 1">

            </div>


            <div class="content-blocks espaco4">
                <div class="content">
                    <p class="par">Stromae, nom de scène de Paul Van Haver, est un chanteur, rappeur, auteur-compositeur-interprète et producteur francophone.</p>
                    <img class="elemento-clicavel img-audio" width="16px" height="16px" src="imagens/som91.png" data-audio="sons/frase_002.mp3" alt="Imagem 1">
                    <img class="elemento-clicavel img-audio" width="16px" height="16px" src="imagens/caracol.png" data-audio="sons/frase_002_lenta.mp3" alt="Imagem 1">
                </div>
            </div>

            <div class="content-blocks">
                <div class="content">
                    <p class="par">Paul Van Haver naît en Belgique d'un père rwandais et d'une mère belge, il commence sa carrière en 2000.</p>
                    <img class="elemento-clicavel img-audio" width="16px" height="16px" src="imagens/som91.png" data-audio="sons/frase_003.mp3" alt="Imagem 1">
                    <img class="elemento-clicavel img-audio" width="16px" height="16px" src="imagens/caracol.png" data-audio="sons/frase_003_lenta.mp3" alt="Imagem 1">
                </div>
            </div>

            <div class="content-blocks">
                <div class="content">
                    <p class="par">La musique de Stromae est influencée par la musique électronique, spécialement la new beat (rythme belge), le hip-hop et la world music.</p>
                    <img class="elemento-clicavel img-audio" width="16px" height="16px" src="imagens/som91.png" data-audio="sons/frase_004.mp3" alt="Imagem 1">
                    <img class="elemento-clicavel img-audio" width="16px" height="16px" src="imagens/caracol.png" data-audio="sons/frase_004_lenta.mp3" alt="Imagem 1">
                </div>
            </div>

            <div class="content-blocks">
                <div class="content">
                    <p class="par">En août 2023, avec le clip du titre "Papaoutai", il devient le deuxième artiste à dépasser le milliard de vues sur YouTube avec une chanson en langue française.</p>
                    <img class="elemento-clicavel img-audio" width="16px" height="16px" src="imagens/som91.png" data-audio="sons/frase_005.mp3" alt="Imagem 1">
                    <img class="elemento-clicavel img-audio" width="16px" height="16px" src="imagens/caracol.png" data-audio="sons/frase_005_lenta.mp3" alt="Imagem 1">
                </div>
            </div>

            <div class="content-blocks">
                <div class="content">
                    <p class="par">Dans ses trois albums, Stromae aborde des sujets graves et con- temporains sur des mélodies dansantes.</p>
                    <img class="elemento-clicavel img-audio" width="16px" height="16px" src="imagens/som91.png" data-audio="sons/frase_006.mp3" alt="Imagem 1">
                    <img class="elemento-clicavel img-audio" width="16px" height="16px" src="imagens/caracol.png" data-audio="sons/frase_006_lenta.mp3" alt="Imagem 1">
                </div>
            </div>

        </section>


        <section class="secao">




            <div class="content-blocks espaco">
                <div class="content">
                    <p class="par negrito">I- </p>                
                    <p class="par negrito esquerda">Écoutez la chanson et répondez aux questions suivantes:</p>
                    <img class="elemento-clicavel img-audio" width="16px" height="16px" src="imagens/som91.png" data-audio="sons/frase_007.mp3" alt="Imagem 1">
                    <img class="elemento-clicavel img-audio" width="16px" height="16px" src="imagens/caracol.png" data-audio="sons/frase_007_lenta.mp3" alt="Imagem 1">
                </div>
            </div>

            <div class="content-blocks">
                <div class="content">
                    <p class="par indentacao">a) Que pensez-vous de cette chanson?</p>
                    <img class="elemento-clicavel img-audio" width="16px" height="16px" src="imagens/som91.png" data-audio="sons/frase_008.mp3" alt="Imagem 1">
                    <img class="elemento-clicavel img-audio" width="16px" height="16px" src="imagens/caracol.png" data-audio="sons/frase_008_lenta.mp3" alt="Imagem 1">
                </div>
            </div>

            <div class="content-blocks">
                <div class="content">
                    <p class="par indentacao-nova">Elle me donne envie de...</p>
                    <img class="elemento-clicavel img-audio" width="16px" height="16px" src="imagens/som91.png" data-audio="sons/frase_009.mp3" alt="Imagem 1">
                    <img class="elemento-clicavel img-audio" width="16px" height="16px" src="imagens/caracol.png" data-audio="sons/frase_009_lenta.mp3" alt="Imagem 1">
                </div>
            </div>

            <div class="content-blocks">
                <div class="content teste">
                    <input class="modelo1" type="text" placeholder="Écrivez votre réponse.">
                </div>
            </div>

            <div class="content-blocks">
                <div class="content">
                    <p class="par  indentacao-nova">Je me sens...</p>
                    <img class="elemento-clicavel img-audio" width="16px" height="16px" src="imagens/som91.png" data-audio="sons/frase_010.mp3" alt="Imagem 1">
                    <img class="elemento-clicavel img-audio" width="16px" height="16px" src="imagens/caracol.png" data-audio="sons/frase_010_lenta.mp3" alt="Imagem 1">
                </div>
            </div>

            <div class="content-blocks">
                <div class="content teste">
                    <input class="modelo1" type="text" placeholder="Écrivez votre réponse.">
                </div>
            </div>

            <div class="content-blocks">
                <div class="content">
                    <p class="par indentacao">b) </p>                
                    <p class="par esquerda">Quels sont les sentments que la chanson évoque?</p>
                    <img class="elemento-clicavel img-audio" width="16px" height="16px" src="imagens/som91.png" data-audio="sons/frase_011.mp3" alt="Imagem 1">
                    <img class="elemento-clicavel img-audio" width="16px" height="16px" src="imagens/caracol.png" data-audio="sons/frase_011_lenta.mp3" alt="Imagem 1">
                </div>
            </div>

            <div class="content-blocks">
                <div class="content">
                    <p class="par  indentacao-nova">Elle est...</p>
                    <img class="elemento-clicavel img-audio" width="16px" height="16px" src="imagens/som91.png" data-audio="sons/frase_012.mp3" alt="Imagem 1">
                    <img class="elemento-clicavel img-audio" width="16px" height="16px" src="imagens/caracol.png" data-audio="sons/frase_012_lenta.mp3" alt="Imagem 1">
                </div>
            </div>

            <div class="content-blocks">
                <div class="content teste">
                    <input class="modelo1" type="text" placeholder="Écrivez votre réponse.">
                </div>
            </div>

            <div class="content-blocks espaco">
                <div class="content">
                    <p class="par negrito espaco15 espaco56 espaco17">II- </p>                
                    <p class="par negrito esquerda">Sous-titrez les images de clip Santé de Stromae, à l'aide des phrases distribuées et les expressions de la première activité:</p>
                    <img class="elemento-clicavel img-audio" width="16px" height="16px" src="imagens/som91.png" data-audio="sons/frase_013.mp3" alt="Imagem 1">
                    <img class="elemento-clicavel img-audio" width="16px" height="16px" src="imagens/caracol.png" data-audio="sons/frase_013_lenta.mp3" alt="Imagem 1">
                </div>
            </div>

            <div class="content-blocks">
                <div class="content">
                    <p class="par indentacao-dupla">1. La serveuse nettoie le restaurant:</p>
                    <img class="elemento-clicavel img-audio" width="16px" height="16px" src="imagens/som91.png" data-audio="sons/frase_014.mp3" alt="Imagem 1">
                    <img class="elemento-clicavel img-audio" width="16px" height="16px" src="imagens/caracol.png" data-audio="sons/frase_014_lenta.mp3" alt="Imagem 1">
                </div>
            </div>



            <div class="content-blocks">
                <div class="content">
                    <p class="par indentacao-dupla">2. Les hommes dansent dans le bureau:</p>
                    <img class="elemento-clicavel img-audio" width="16px" height="16px" src="imagens/som91.png" data-audio="sons/frase_015.mp3" alt="Imagem 1">
                    <img class="elemento-clicavel img-audio" width="16px" height="16px" src="imagens/caracol.png" data-audio="sons/frase_015_lenta.mp3" alt="Imagem 1">
                </div>
            </div>

 
   
            <div class="content-blocks">
                <div class="content">
                    <p class="par indentacao-dupla">3. La femme coupe le poulet:</p>
                    <img class="elemento-clicavel img-audio" width="16px" height="16px" src="imagens/som91.png" data-audio="sons/frase_016.mp3" alt="Imagem 1">
                    <img class="elemento-clicavel img-audio" width="16px" height="16px" src="imagens/caracol.png" data-audio="sons/frase_016_lenta.mp3" alt="Imagem 1">
                </div>
            </div>



            <div class="content-blocks">
                <div class="content">
                    <p class="par indentacao-dupla">4. La serveuse danse:</p>
                    <img class="elemento-clicavel img-audio" width="16px" height="16px" src="imagens/som91.png" data-audio="sons/frase_017.mp3" alt="Imagem 1">
                    <img class="elemento-clicavel img-audio" width="16px" height="16px" src="imagens/caracol.png" data-audio="sons/frase_017_lenta.mp3" alt="Imagem 1">
                </div>
            </div>



            <div class="content-blocks">
                <div class="content">
                    <p class="par indentacao-dupla">5. Les femmes rigolent:</p>
                    <img class="elemento-clicavel img-audio" width="16px" height="16px" src="imagens/som91.png" data-audio="sons/frase_018.mp3" alt="Imagem 1">
                    <img class="elemento-clicavel img-audio" width="16px" height="16px" src="imagens/caracol.png" data-audio="sons/frase_018_lenta.mp3" alt="Imagem 1">
                </div>
            </div>



            <div class="content-blocks">
                <div class="content">
                    <p class="par indentacao-dupla">6. Les pêcheurs ramassent les poissons:</p>
                    <img class="elemento-clicavel img-audio" width="16px" height="16px" src="imagens/som91.png" data-audio="sons/frase_019.mp3" alt="Imagem 1">
                    <img class="elemento-clicavel img-audio" width="16px" height="16px" src="imagens/caracol.png" data-audio="sons/frase_019_lenta.mp3" alt="Imagem 1">
                </div>
            </div>


            <div class="content-blocks2">
                <div class="content33">

                    <div class="pergunta ">
                        <label for="resp1">1.</label><br>
                        <input id="resp1" class="modelo3" type="text" placeholder="Écrivez" data-correta="E">
                        <button class="btn" onclick="verificarResposta('resp1')"> <img width="25px" height="25px" src="imagens/enter.png" alt="Descrição da imagem"></button>
                        <span class="feedback" id="fb1"></span>
                    </div>

                    <div class="pergunta ">
                        <label for="resp2">2.</label><br>
                        <input id="resp2" class="modelo3" type="text" placeholder="Écrivez" data-correta="D">
                        <button class="btn" onclick="verificarResposta('resp2')"><img width="25px" height="25px" src="imagens/enter.png" alt="Descrição da imagem"></button>
                        <span class="feedback" id="fb2"></span>
                    </div>


                </div>

                <div class="content33">

                    <div class="pergunta ">
                        <label for="resp3">3.</label><br>
                        <input id="resp3" class="modelo3" type="text" placeholder="Écrivez" data-correta="A">
                        <button class="btn" onclick="verificarResposta('resp3')"><img width="25px" height="25px" src="imagens/enter.png" alt="Descrição da imagem"></button>
                        <span class="feedback" id="fb3"></span>
                    </div>

                    <div class="pergunta ">
                        <label for="resp4">4.</label><br>
                        <input id="resp4" class="modelo3" type="text" placeholder="Écrivez" data-correta="F">
                        <button class="btn" onclick="verificarResposta('resp4')"><img width="25px" height="25px" src="imagens/enter.png" alt="Descrição da imagem"></button>
                        <span class="feedback" id="fb4"></span>



                    </div>
                </div>

                <div class="content33">

                    <div class="pergunta ">
                        <label for="resp5">5.</label><br>
                        <input id="resp5" class="modelo3" type="text" placeholder="Écrivez" data-correta="B">
                        <button class="btn" onclick="verificarResposta('resp5')"><img width="25px" height="25px" src="imagens/enter.png" alt="Descrição da imagem"></button>
                        <span class="feedback" id="fb5"></span>
                    </div>

                    <div class="pergunta ">
                        <label for="resp6">6.</label><br>
                        <input id="resp6" class="modelo3" type="text" placeholder="Écrivez" data-correta="C">
                        <button class="btn" onclick="verificarResposta('resp6')"><img width="25px" height="25px" src="imagens/enter.png" alt="Descrição da imagem"></button>
                        <span class="feedback" id="fb6"></span>

                    </div>


                </div>

            </div>


            <div class="content-blocks blocks-40 espaco">
                <div class="content2 espaco20">
                    <p class="par">A. </p>                
                    <img class="imagem-01" width="100px" height="100px" src="imagens/foto_a.jpg">     
                </div>



                <div class="content2 espaco20">
                    <p class="par">B. </p>                
                    <img class="imagem-01" width="100px" height="100px" src="imagens/foto_b.jpg">     
                </div>
            </div>


            <div class="content-blocks blocks-40 espaco3">


                <div class="content2 espaco20">
                    <p class="par">C. </p>                
                    <img class="imagem-01" width="100px" height="100px" src="imagens/foto_c.jpg">     
                </div>






                <div class="content2 espaco20">
                    <p class="par">D. </p>                
                    <img class="imagem-01" width="100px" height="100px" src="imagens/foto_d.jpg">     
                </div>

            </div>


            <div class="content-blocks blocks-40 espaco3">
                <div class="content2 espaco20">
                    <p class="par">E. </p>                
                    <img class="imagem-01" width="100px" height="100px" src="imagens/foto_e.jpg">     
                </div>



                <div class="content2 espaco20">
                    <p class="par">F. </p>                
                    <img class="imagem-01" width="100px" height="100px" src="imagens/foto_f.jpg">     
                </div>
            </div>


<!--            <div class="content-blocks">
                <div class="content2">
                    <p class="par negrito">B- </p>
                    <input class="modelo1" type="text" placeholder="Écrivez votre réponse.">      
                </div>

            </div>

            <div class="content-blocks">
                <div class="content2">
                    <img width="150px" height="150px" src="imagens/foto_b.jpg">     
                </div>
            </div>

            <div class="content-blocks">
                <div class="content2">
                    <p class="par negrito">C- </p>
                    <input class="modelo1" type="text" placeholder="Écrivez votre réponse.">      
                </div>

            </div>

            <div class="content-blocks">
                <div class="content2">
                    <img width="150px" height="150px" src="imagens/foto_c.jpg">     
                </div>
            </div>

            <div class="content-blocks">
                <div class="content2">
                    <p class="par negrito">D- </p>
                    <input class="modelo1" type="text" placeholder="Écrivez votre réponse.">      
                </div>

            </div>

            <div class="content-blocks">
                <div class="content2">
                    <img width="150px" height="150px" src="imagens/foto_d.jpg">     
                </div>
            </div>

            <div class="content-blocks2">
                <div class="content2">
                    <p class="par negrito">E- </p>
                    <input class="modelo1" type="text" placeholder="Écrivez votre réponse.">      
                </div>

            </div>

            <div class="content-blocks2">
                <div class="content2">
                    <img width="150px" height="150px" src="imagens/foto_e.jpg">     
                </div>
            </div>

            <div class="content-blocks2">
                <div class="content2">
                    <p class="par negrito">F- </p>
                    <input class="modelo1" type="text" placeholder="Écrivez votre réponse.">      
                </div>

            </div>

            <div class="content-blocks2">
                <div class="content2">
                    <img width="150px" height="150px" src="imagens/foto_f.jpg">     
                </div>
            </div>-->


<!-- ************************************ -->

        <script src="script.js"></script>
        
    </main>

    <footer>
        <p>Il est toujours temps d'apprendre !!!</p>
    </footer>

</body>

</html>
