<!DOCTYPE html>

<html lang="pt-BR">

<head>
    <meta charset="utf-8">    
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Le français pour tous les âges!{% endblock %}</title>    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>

<body>
    <header id="header-area">
        <div id="logo-area">
            <h1>{% block cabecalho %}{% endblock %}</h1>
        </div>

        <nav id="menu-area">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('teste') }}">Teste</a>
            <a href="{{ url_for('supplementaire') }}">Supplémentaire</a>
            <a href="{{ url_for('chansons') }}">Chansons</a>
        </nav>

    </header>

    <main id="main-area">

        
        {% block secao_01 %}<section>

            <div class="content-blocks">
                <nav>
                    <a href="https://www.youtube.com/watch?v=P3QS83ubhHE&list=RDP3QS83ubhHE&start_radio=1", target="_self">
                        <div>
                            <img class="imagem-02" width="600px" height="250px" src="imagens/stromae.jpg">
                        </div>
                    </a>
                </nav>
            </div>

        </section>{% endblock %}

        {% block secao_02 %}<section>

            <div class="content-blocks">
                <nav>
                    <a href="https://www.youtube.com/watch?v=P3QS83ubhHE&list=RDP3QS83ubhHE&start_radio=1", target="_self">
                        <div>
                            <img class="imagem-02" width="600px" height="250px" src="imagens/stromae.jpg">
                        </div>
                    </a>
                </nav>
            </div>

        </section>{% endblock %}


















    </main>















    <footer>

        <p>Il est toujours temps d'apprendre !!!</p>
    </footer>
</body>
</html>

