/*Limpar formatações padrão*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/***** Layout *****/

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background: #FFFCF5;
}

#header-area {
  background-color: #3C7E99;
  text-align: center;
  margin-bottom: 2.5rem;
}

#logo-area {
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0;
}

#menu-area {
  padding-bottom: 0.7rem;
  font-size: 1.1rem;
}

#main-area {
  width: 100%;
  margin: 0 auto;
}


/***** Formatação do menu *****/

a:link,
a:visited {
  color: #03467C;
}

#header-area a:link,
#header-area a:visited {
  color: #FFF9E9;
  padding: 0.5rem 0.75rem;
  font-weight: bold;
  text-decoration: none;
}

#header-area a:hover {
  color: #F7B600;
  background: #FFFFFF;
  text-decoration: none;
}


/***** Formatações em geral *****/

h1 {
  color: #FFF9E9;
  font-size: 2.1rem;
  text-align: center;
}

h2 {
  color: #3C7E99;
  font-size: 1.7rem;
  text-align: center;

}

h5 {
  font-size: 1.5rem;
  padding: 1rem 0;
}

.title {
  color: #FFFFFF;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  font-family: "Vast Shadow", serif;
  font-weight: 550;
  font-style: bold;
  text-decoration: none;
}

.classe {
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: .1fr .1fr .1fr .1fr;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
  color: #3C7E99;
}

.disco {
  display: block;
  padding-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.card {
  padding: 0.25em;
  border-radius: 0.7rem;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  background-color: #FFF7E8;
  width: 4em;
  height: 4em;
  align-content: center;
  box-shadow: 0.rem 0.25rem 0.5rem 0.1rem #0000004d;
}


.container2 {
  display: grid;
  grid-template-columns: 0.1fr 0.1fr 0.1fr;
  gap: 2rem;
  justify-content: center;

  color: #3C7E99;

}


.container3 {
  display: grid;
  grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr;

  gap: 2rem;
  justify-content: center;

  color: #3C7E99;

}


.card2 {
  padding: 0.25em;
  border-radius: 0.7rem;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  background-color: #FFF7E8;
  width: 15em;
  height: 4em;
  align-content: center;
  box-shadow: 0.25rem 0.25rem 0.5rem 0.1rem #0000004d;
  margin: auto;
}

.imagem8 {
  box-shadow: 0.25rem 0.25rem 0.4rem 0.1rem #00000033;
  border-radius: 0.3rem;
}

.cartao {
  font-size: 0.8rem;
  color: #0a445b;
  font-weight: bold;
  align-items: center;
  padding-top: 0.2rem;
}

.resposta2 {
  width: 80%;
  height: 5rem;
  padding: 0.15rem 1rem;
  border: 0.15rem solid #93B3BF;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  transition: 0.3s;
  background-color: #F5F5F5;
  color: #276B85;
  font-weight: bold;
}

.esquerda {
  text-align: left;
}

.par {
  font-size: 1.1rem;
  text-align: justify;
  color: #272728;
  padding-right: 0.2rem;
  margin: 0;


}

.centro {
  justify-content: center;
}

.par9 {

  font-size: 1.1rem;
  text-align: justify;
  color: #000;
  padding: 1.25rem;
  margin: 0;
  font-weight: bold;
}

.fundo {
  background-color: #03467C;
  color: white;
  padding: 0.6rem;
  border-radius: 0.7rem;
  font-weight: bold;
}


.par33 {
  padding-left: 0.3rem;
  text-align: start;
  color: #404042;
}

.espaco {
  padding-top: 2rem;
}

.espaco2 {
  padding-left: 1rem;
}

.espaco3 {
  padding-top: 1rem;
}

.espaco4 {
  padding-top: 1.5rem;
}

.espaco5 {
  padding-left: 1.5rem;
}

.espaco6 {
  padding-bottom: 1rem;
}

.espaco7 {
  padding-top: 0.5rem;
}

.espaco8 {
  padding-bottom: 1.5rem;
}


.espaco9 {
  padding-left: 0.5rem;
}

.espaco10 {
  padding-left: 0.2rem;
}

.espaco15 {
  padding-bottom: 1.25rem;
}

.espaco18 {
  padding-bottom: 0.4rem;
}

.espaco19 {
  padding-right: 0.5rem;
}

.espaco20 {
  padding-right: 1rem;
}


.espaco21 {
  padding-top: 2.5rem;
}

.espaco22 {
  padding-top: 3rem;
}

.espaco23 {
  padding-left: 1.8rem;
}





.linha-separadora {
  border-bottom: 0.12rem solid #97979B;
  width: 50%;
  height: auto;
  margin-top: 0.4rem;
  margin-bottom: 0.25rem;
}

.capa {
  background-color: #FFFFFF;
}

.wide {
  width: 48%;
}

.elemento-clicavel {
  cursor: pointer;
  justify-content: center;
  vertical-align: middle;
}

.imagem-01 {
  margin-left: 0.1rem;
  border-radius: 3.1rem;
}

.imagem-02 {
  margin-left: 0.1rem;
  border-radius: 0.6rem;
  margin-bottom: 2rem;
}

.imagem-03 {
  margin-left: 0.1rem;
  border-radius: 0.6rem;

}



.video {
  box-shadow: 0.6rem 0.6rem 0.5rem 0.1rem #0000004d;
  border-radius: 0%;
  margin-bottom: 1.6rem;
}

.content {
  /*text-align: left;*/
  /*align-items: center;*/

  margin: 0.1rem;
  padding: 0;
  width: 50%;
}

.content50 {
  text-align: center;
  align-items: center;
  margin: 0.1rem;
  padding: 0;
  width: 50%;
}


div {
  display: flex;
  margin: 0.1rem;
  margin-left: 0.15rem;
}


.content33 {
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0;
  /*padding-right: 5.6rem;*/
  width: 100%;
}

.content36 {
  justify-content: left;
  text-align: left;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 100%;
}


.content40 {
  justify-content: left;
  text-align: left;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 100%;
}

.content37 {
  justify-content: left;
  text-align: center;
  align-items: center;
  align-content: left;
  width: 25%;
  height: auto;
}


.content38 {
  justify-content: left;
  text-align: left;
  align-items: center;
  margin: 0;
  width: 4%;
  height: 4%;
}


.content39 {
  justify-content: left;
  text-align: left;
  align-items: center;
  margin: 0;
  width: 96%;
  height: 96%;
}

.content-blocks {
  width: 90%;
  justify-content: center;
  margin: auto;
  margin-bottom: 0.3em;
  align-items: center;
  align-content: center;
}

.content-blocks6 {
  width: 40%;
  height: 1.4rem;
  justify-content: left;
  margin: auto;
  margin-bottom: 0.3em;
  align-items: center;
}

.content-blocks45 {
  width: 60%;
  justify-content: center;
  margin: auto;
  margin-bottom: 0.3em;
  align-items: center;
}

.content-blocks2 {
  width: 60%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0.7em;
}

.secao {
  justify-content: left;
  align-items: center;
}

.altura {
  height: 1.25rem;
  padding-left: 2em;
}

.verb {
  text-align: left;
  background-color: #FFFF99;
  padding: 0.6rem;
  box-shadow: 0.25rem 0.25rem 0.5rem 0.1rem #0000004d;
  margin: 2.5rem;
  align-items: center;

}

.verbo {
  text-align: left;
}

.inicio {
  margin-bottom: 1.6rem;
  box-shadow: 0.25rem 0.25rem 0.5rem 0.1rem #0000001a;
}


.blocks-40 {
  width: 20%;
  margin: auto;
}

.teste {
  padding-left: 1em;
}

footer {
  background: #3C7E99;
  color: #FFF9E9;
  text-align: center;
  padding: 1rem;
  margin-top: 7rem;
  font-weight: bold;
  font-size: 1.2rem;
}

/****** Hover ******/

.content:hover {
  background: #FCF2FB;
}

.img2:hover {
  background: #FCF2FB;
}

.pergunta:hover {
  background: #FCF2FB;
}

.card:hover {
  background: #FCF2FB;
}

.palavra:hover {
  background: #FFE6B3;
}

.content-blocks6:hover {
  background: #FCF2FB;
}




/*
.correta {
  border: none;
  background-color: transparent;
  color: green;
  font-weight: bold;
}

.errada {
  border: none;
  background-color: transparent;
  color: red;
  font-weight: bold;
}

.correta {
  width: 500px;
  height: 500px;
  font-size: 17px;
  text-align: center;
  background-color: green;
  /* verde claro 
  border: 2px solid green;
  color: green;
}

.errada {
  font-size: 17px;
  text-align: center;
  background-color: red;
  /* vermelho claro 
  border: 2px solid red;
}*/

.resposta {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  text-align: center;
  border: 0.15rem solid #93B3BF;
  cursor: pointer;
  /*font-size: 20px;*/
  color: #276B85;
  font-weight: bold;
  background-color: #F5F5F5;
  padding: 0;
  margin-right: 8px;


}

.distancia {
  width: 90%;
}




/* Correta: verde */
.correta {
  justify-content: top;
  text-align: top;
  font-size: 27px;
  color: green !important;
  background-color: transparent;
  margin-bottom: 15px;
  border: none;


}

/* Errada: vermelho */
.errada {
  text-align: center;
  font-size: 22px;
  color: red;
  background-color: transparent;
  margin-bottom: 2px;
  border: none;


}


.btn2 {
  display: inline-block;
  padding: 0.1rem 0 0.1rem 0.1rem;
  width: 1.25rem;
  height: 1.25rem;
  font-weight: bold;
  border: none;
  border-radius: 3.2rem;


  cursor: pointer;
  margin-right: 0.3rem;
  text-align: top;
}









/*   modelo de caixa de entrada de texto */

.modelo1 {
  width: 80%;
  height: 1.25rem;
  padding: 0.15rem 1rem;
  border: 0.15rem solid #93B3BF;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  transition: 0.3s;
  background-color: #F5F5F5;
  color: #276B85;
  font-weight: bold;
}

.modelo3 {
  width: 55px;
  height: 1.25rem;
  padding: 0.15rem;
  margin: 0 0.5rem;
  border: 0.15rem solid #93B3BF;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  font-weight: bold;
  transition: 0.3s;
  background-color: #F5F5F5;
  color: #276B85;
  text-align: center;
}

.modelo4 {
  width: 50%;
  height: 1.25rem;
  padding: 0.15rem 1rem;
  border: 0.15rem solid #93B3BF;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  font-weight: bold;
  transition: 0.3s;
  background-color: #F5F5F5;
  color: #276B85;
}

.modelo5 {
  width: 20%;
  height: 1.25rem;
  padding: 0.15rem 1rem;
  border: 0.15rem solid #93B3BF;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  font-weight: bold;
  transition: 0.3s;
  background-color: #F5F5F5;
  color: #276B85;
}

.modelo6 {
  width: 1.25rem;
  height: 1.25rem;
  padding: 0.15rem;

  border: 0.15rem solid #93B3BF;

  font-size: 1rem;
  font-weight: bold;
  transition: 0.3s;
  background-color: #F5F5F5;
  color: #276B85;
  text-align: center;
}

.modelo1:focus {
  border-color: #ECCF67;
  outline: none;
}


/********* Quiz ********/

.pergunta {
  margin: 1rem 0;
  padding-left: 0.6rem;
  align-items: center;
  margin-right: 1.6rem;
}

.feedback {
  font-weight: bold;
  margin-left: 0.15rem;
  font-size: 1.5rem;
}

.certo {
  color: #008000;
}

.errado {
  color: #ff0000;
}

.btn {
  display: inline-block;
  padding: 0.1rem 0 0.1rem 0.1rem;
  width: 1.25rem;
  height: 1.25rem;
  font-weight: bold;
  border: none;
  border-radius: 3.2rem;
  color: #FFFFFF;
  cursor: pointer;
  margin-right: 0.3rem;
}





/*******  TABELA ********/

/*table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0 1.6rem 0;
}

th,
td {
  border: 0.1rem solid #CCCCCC;
  padding: 0.6rem 0.6rem;
  text-align: center;
  width: 350px;
}

th {
  background-color: #F4F4F4;
  font-weight: bold;
}

thead {
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

tr {
  justify-content: center;
  align-content: center;
  align-content: center;
}

tr:nth-child(even) {
  background-color: #F9F9F9;
}

tr:hover {
  background-color: #E0F7FA;
}*/
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.25rem;
}

th,
td {
  border: 0.1rem solid #ccc;
  padding: 0.6rem;
  text-align: center;
}

th {
  background-color: #f4f4f4;
  vertical-align: middle;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #e0f7fa;
}


/*modificadores, melhor jeito de reutilizar código. Se os elementos são iguais e você só quer alterar detalhes
use modificadores*/

.negrito {
  font-weight: bold;
}

.gray {
  color: #97979B;
}


.blue {
  color: #03467C;
}

.gold {
  color: #a48a04;
}


.indentacao {
  text-indent: 0.5em;
}

.indentacao-dupla {
  text-indent: 1em;
}

.indentacao-tripla {
  text-indent: 3em;
}

.indentacao-nova {
  text-indent: 1.8em;
}

.letra {
  font-size: 0.75rem;
}

.letra2 {
  font-size: 1.1em;
}

.centro {
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}





/*small monitor desktop and up*/
/*@media only screen and (min-width: 1030px) {
}*/

/*tablets*/

@media only screen and (min-width: 447px) and (max-width: 1024px) {


  #main-area {
    width: 100%;
  }

  /*  .par33 {
    font-size: 90%;
  }*/

  /*.par {
    font-size: 80%;
  }*/



  .content {
    width: 100%;
  }


  .content-blocks45 {
    width: 95%;
  }

  .content50 {
    width: 100%;
  }

  .content3 {
    width: 55%;
  }

  .content33 {
    width: 100%;
    /*  font-size: 80%;*/
  }

  .content36 {
    width: 100%;
    /*   font-size: 80%;*/
    margin-left: 18px;
  }

  .content37 {
    width: 20%;
    /*   font-size: 80%;*/
    margin-left: 18px;
  }


  .content38 {
    width: 100%;
    /*   font-size: 80%;*/
  }


  .content39 {
    width: 100%;
    /*font-size: 10%;*/
  }

  .linha-separadora {

    width: 100%;
  }



  /*.content-blocks {
    width: 90%;
  }*/

  .content-blocks2 {
    width: 80%;
  }

  .content-blocks6 {
    width: 90%;
  }



  #header-area {
    width: 100%;
    margin-bottom: 3.5rem;
  }

  h2 {
    /*  font-size: 160%;*/
    margin: 1rem 0;
  }



  /*  h1 {
    font-size: 180%;
  }

  h5 {
    font-size: 100%;
  }

  footer p {
    font-size: 90%;
  }*/


  /*  header,
  footer {
    width: 100%;
    padding-left: constant(safe-area-inset-left);
    /* suporte antigo 
    padding-right: constant(safe-area-inset-right);
    padding-left: env(safe-area-inset-left);
    /* suporte novo 
    padding-right: env(safe-area-inset-right);
    background-color: #000;
  }*/


  /*footer {
    margin-top: 3rem;
  }

  /*  #menu-area a {
    font-size: 90%;
  }*/

  .container {
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr;
    /* só uma coluna no celular */
  }

  /* .card {
    font-size: 80%;
    width: 100%;
  }*/

  .modelo3 {
    width: 35%;
    height: 35%;
  }

  .pergunta {
    width: 25%;
    align-content: center;
  }

  .imagem-02 {
    max-width: 100%;
    max-height: auto;
    margin: auto;
  }


  /*  .btn {
    font-size: 50%;
  }*/

  .inicio {
    width: 75%;
    height: 70%;
    margin-left: 2rem;
  }

  .espaco56 {
    padding-bottom: 0.9rem;
  }

  .verb {
    width: 50%;
    /*    font-size: 78%;*/

  }

  .video {
    width: 70%;
    height: 75%;
  }


  /*   Tabela Responsiva */

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
    /*    font-size: 95%;*/
  }

  thead {
    display: none;
    /* esconde cabeçalho */
  }

  tr {
    margin-bottom: 1rem;
    border: 0.1rem solid #ddd;
    border-radius: 0.5rem;
  }

  td {
    text-align: left;
    border: none;
    position: relative;
    padding-left: 50%;
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    left: 0.6rem;
    font-weight: bold;
    white-space: nowrap;
  }

}

/* celular: 360px a 414px, tablet: 768px a 1024px e desktop/notebook: 1024px ou 1366px em diante.

/*cell phones*/
@media (max-width: 446px) {

  #main-area {
    width: 100%;
  }

  .content-blocks2 {
    width: 80%;
  }

  .content-blocks6 {
    width: 90%;
  }

  .content-blocks26 {
    width: 80%;
  }

  .content-blocks25 {
    width: 80%;
  }

  .linha-separadora {

    width: 100%;
  }

  .par9 {
    width: 75%;
    font-size: 70%;
  }

  .par33 {
    font-size: 90%;
  }

  .par {
    font-size: 80%;
  }

  .par13 {
    font-size: 80%;
    padding-bottom: 1rem;
  }



  h2 {
    font-size: 145%;
  }

  .content {
    width: 100%;

  }

  .espaco23 {
    padding-left: 0;
  }

  .resposta2 {
    width: 100%;
    height: 5rem;
  }

  .content-blocks {
    width: 90%;

  }

  .content-blocks45 {
    width: 95%;
  }


  .content6 {
    width: 100%;
  }

  .content50 {
    width: 100%;
  }

  .fundo {
    font-size: 80%;
  }

  .fone {
    font-size: 80%;
    font-weight: bold;
  }

  .content33 {
    width: 100%;
    font-size: 80%;
  }

  .content36 {
    width: 100%;
    font-size: 80%;
    text-align: left;
    margin-left: 15px;
  }


  .content40 {
    width: 100%;
    font-size: 80%;
    text-align: left;
    margin-left: 0;
  }


  .content37 {
    width: 37%;
    font-size: 80%;
    margin-left: 15px;
  }


  .content38 {
    width: 100%;
    /*   font-size: 80%;*/
  }


  .content39 {
    width: 1500%;
    font-size: 80%;
  }

  .modelo5 {
    width: 30%;
  }

  .modelo4 {
    width: 55%;
  }

  #header-area {
    width: 100%;
  }

  .espaco17 {
    padding-bottom: 1.9rem;
  }

  .titulo {

    font-size: 140%;
  }




  h1 {
    font-size: 160%;
  }


  h5 {
    font-size: 135%;
  }

  footer p {
    font-size: 90%;
  }

  footer {
    margin-top: 3rem;
  }

  #menu-area a {
    font-size: 77%;
  }

  .container {
    grid-template-columns: 0.2fr 0.2fr;
    /* só uma coluna no celular */
  }


  .container2 {
    grid-template-columns: 0.7fr;
    gap: 0;
    /* só uma coluna no celular */
  }

  .container3 {
    grid-template-columns: 0.2fr;
    gap: 0;
    /* só uma coluna no celular */
  }


  .card2 {
    font-size: 100%;

  }

  .modelo3 {
    width: 55%;
    height: 55%;
  }

  .imagem-02 {
    max-width: 100%;
    height: auto;
  }

  .btn {
    font-size: 70%;
  }


  .correta {
    font-size: 1.7rem;
  }

  .errada {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .inicio {
    width: 75%;
    height: 70%;
    margin-left: 2rem;
  }

  .verb {
    width: 70%;
    font-size: 80%;
  }

  .video {
    width: 70%;
    height: 75%;
  }


  /*   Tabela Responsiva */

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
    font-size: 95%;
  }

  thead {
    display: none;
    /* esconde cabeçalho */
  }

  tr {
    margin-bottom: 1rem;
    border: 0.1rem solid #ddd;
    border-radius: 0.5rem;
  }

  td {
    text-align: center;
    border: none;
    position: relative;
    padding-left: 50%;
  }

  td::before {
    content: attr(data-label);
    position: absolute;
    left: 0.6rem;
    font-weight: bold;
    white-space: nowrap;
  }

}
